.toplevel_page_bswp-settings #wpcontent {
	padding-left: 0;
}

.bswp-wrapper {
	width: 100%;
	max-width: 100%;
}

.bswp-wrapper nav {
	color: #333;
	border-bottom: 1px solid #ddd;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.bswp-wrapper nav ul a {
	color: #a7a7a7;
}

.bswp-wrapper .brand-logo {
	padding-top: 10px;
}

.bswp-container {
	width: 760px;
	max-width: 100%;
	margin: 35px auto;
}

.bswp-container .card-wide {
	max-width: 100% !important;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.bswp-container #bswp_settings_box {
	margin: 20px 0;
}

/** Utilities */

.bswp-m-0 {
  margin: 0 !important;
}

.bswp-m-1 {
  margin: .25rem !important;
}

.bswp-m-2 {
  margin: .5rem !important;
}

.bswp-m-3 {
  margin: .75rem !important;
}

.bswp-m-4 {
  margin: 1rem !important;
}

.bswp-m-5 {
  margin: 1.25rem !important;
}

.bswp-m-6 {
  margin: 1.5rem !important;
}

.bswp-m-8 {
  margin: 2rem !important;
}

.bswp-m-10 {
  margin: 2.5rem !important;
}

.bswp-m-12 {
  margin: 3rem !important;
}

.bswp-m-14 {
  margin: 3.5rem !important;
}

.bswp-m-16 {
  margin: 4rem !important;
}

.bswp-m-20 {
  margin: 5rem !important;
}

.bswp-m-24 {
  margin: 6rem !important;
}

.bswp-m-32 {
  margin: 8rem !important;
}

.bswp-m-40 {
  margin: 10rem !important;
}

.bswp-m-48 {
  margin: 12rem !important;
}

.bswp-m-56 {
  margin: 14rem !important;
}

.bswp-m-64 {
  margin: 16rem !important;
}

.bswp-m-auto {
  margin: auto !important;
}

.bswp-m-px {
  margin: 1px !important;
}

.bswp-my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.bswp-mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.bswp-my-1 {
  margin-top: .25rem !important;
  margin-bottom: .25rem !important;
}

.bswp-mx-1 {
  margin-left: .25rem !important;
  margin-right: .25rem !important;
}

.bswp-my-2 {
  margin-top: .5rem !important;
  margin-bottom: .5rem !important;
}

.bswp-mx-2 {
  margin-left: .5rem !important;
  margin-right: .5rem !important;
}

.bswp-my-3 {
  margin-top: .75rem !important;
  margin-bottom: .75rem !important;
}

.bswp-mx-3 {
  margin-left: .75rem !important;
  margin-right: .75rem !important;
}

.bswp-my-4 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.bswp-mx-4 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.bswp-my-5 {
  margin-top: 1.25rem !important;
  margin-bottom: 1.25rem !important;
}

.bswp-mx-5 {
  margin-left: 1.25rem !important;
  margin-right: 1.25rem !important;
}

.bswp-my-6 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.bswp-mx-6 {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}

.bswp-my-8 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.bswp-mx-8 {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.bswp-my-10 {
  margin-top: 2.5rem !important;
  margin-bottom: 2.5rem !important;
}

.bswp-mx-10 {
  margin-left: 2.5rem !important;
  margin-right: 2.5rem !important;
}

.bswp-my-12 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.bswp-mx-12 {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

.bswp-my-14 {
  margin-top: 3.5rem !important;
  margin-bottom: 3.5rem !important;
}

.bswp-mx-14 {
  margin-left: 3.5rem !important;
  margin-right: 3.5rem !important;
}

.bswp-my-16 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.bswp-mx-16 {
  margin-left: 4rem !important;
  margin-right: 4rem !important;
}

.bswp-my-20 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.bswp-mx-20 {
  margin-left: 5rem !important;
  margin-right: 5rem !important;
}

.bswp-my-24 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}

.bswp-mx-24 {
  margin-left: 6rem !important;
  margin-right: 6rem !important;
}

.bswp-my-32 {
  margin-top: 8rem !important;
  margin-bottom: 8rem !important;
}

.bswp-mx-32 {
  margin-left: 8rem !important;
  margin-right: 8rem !important;
}

.bswp-my-40 {
  margin-top: 10rem !important;
  margin-bottom: 10rem !important;
}

.bswp-mx-40 {
  margin-left: 10rem !important;
  margin-right: 10rem !important;
}

.bswp-my-48 {
  margin-top: 12rem !important;
  margin-bottom: 12rem !important;
}

.bswp-mx-48 {
  margin-left: 12rem !important;
  margin-right: 12rem !important;
}

.bswp-my-56 {
  margin-top: 14rem !important;
  margin-bottom: 14rem !important;
}

.bswp-mx-56 {
  margin-left: 14rem !important;
  margin-right: 14rem !important;
}

.bswp-my-64 {
  margin-top: 16rem !important;
  margin-bottom: 16rem !important;
}

.bswp-mx-64 {
  margin-left: 16rem !important;
  margin-right: 16rem !important;
}

.bswp-my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.bswp-mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.bswp-my-px {
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}

.bswp-mx-px {
  margin-left: 1px !important;
  margin-right: 1px !important;
}

.bswp-mt-0 {
  margin-top: 0 !important;
}

.bswp-mr-0 {
  margin-right: 0 !important;
}

.bswp-mb-0 {
  margin-bottom: 0 !important;
}

.bswp-ml-0 {
  margin-left: 0 !important;
}

.bswp-mt-1 {
  margin-top: .25rem !important;
}

.bswp-mr-1 {
  margin-right: .25rem !important;
}

.bswp-mb-1 {
  margin-bottom: .25rem !important;
}

.bswp-ml-1 {
  margin-left: .25rem !important;
}

.bswp-mt-2 {
  margin-top: .5rem !important;
}

.bswp-mr-2 {
  margin-right: .5rem !important;
}

.bswp-mb-2 {
  margin-bottom: .5rem !important;
}

.bswp-ml-2 {
  margin-left: .5rem !important;
}

.bswp-mt-3 {
  margin-top: .75rem !important;
}

.bswp-mr-3 {
  margin-right: .75rem !important;
}

.bswp-mb-3 {
  margin-bottom: .75rem !important;
}

.bswp-ml-3 {
  margin-left: .75rem !important;
}

.bswp-mt-4 {
  margin-top: 1rem !important;
}

.bswp-mr-4 {
  margin-right: 1rem !important;
}

.bswp-mb-4 {
  margin-bottom: 1rem !important;
}

.bswp-ml-4 {
  margin-left: 1rem !important;
}

.bswp-mt-5 {
  margin-top: 1.25rem !important;
}

.bswp-mr-5 {
  margin-right: 1.25rem !important;
}

.bswp-mb-5 {
  margin-bottom: 1.25rem !important;
}

.bswp-ml-5 {
  margin-left: 1.25rem !important;
}

.bswp-mt-6 {
  margin-top: 1.5rem !important;
}

.bswp-mr-6 {
  margin-right: 1.5rem !important;
}

.bswp-mb-6 {
  margin-bottom: 1.5rem !important;
}

.bswp-ml-6 {
  margin-left: 1.5rem !important;
}

.bswp-mt-8 {
  margin-top: 2rem !important;
}

.bswp-mr-8 {
  margin-right: 2rem !important;
}

.bswp-mb-8 {
  margin-bottom: 2rem !important;
}

.bswp-ml-8 {
  margin-left: 2rem !important;
}

.bswp-mt-10 {
  margin-top: 2.5rem !important;
}

.bswp-mr-10 {
  margin-right: 2.5rem !important;
}

.bswp-mb-10 {
  margin-bottom: 2.5rem !important;
}

.bswp-ml-10 {
  margin-left: 2.5rem !important;
}

.bswp-mt-12 {
  margin-top: 3rem !important;
}

.bswp-mr-12 {
  margin-right: 3rem !important;
}

.bswp-mb-12 {
  margin-bottom: 3rem !important;
}

.bswp-ml-12 {
  margin-left: 3rem !important;
}

.bswp-mt-14 {
  margin-top: 3.5rem !important;
}

.bswp-mr-14 {
  margin-right: 3.5rem !important;
}

.bswp-mb-14 {
  margin-bottom: 3.5rem !important;
}

.bswp-ml-14 {
  margin-left: 3.5rem !important;
}

.bswp-mt-16 {
  margin-top: 4rem !important;
}

.bswp-mr-16 {
  margin-right: 4rem !important;
}

.bswp-mb-16 {
  margin-bottom: 4rem !important;
}

.bswp-ml-16 {
  margin-left: 4rem !important;
}

.bswp-mt-20 {
  margin-top: 5rem !important;
}

.bswp-mr-20 {
  margin-right: 5rem !important;
}

.bswp-mb-20 {
  margin-bottom: 5rem !important;
}

.bswp-ml-20 {
  margin-left: 5rem !important;
}

.bswp-mt-24 {
  margin-top: 6rem !important;
}

.bswp-mr-24 {
  margin-right: 6rem !important;
}

.bswp-mb-24 {
  margin-bottom: 6rem !important;
}

.bswp-ml-24 {
  margin-left: 6rem !important;
}

.bswp-mt-32 {
  margin-top: 8rem !important;
}

.bswp-mr-32 {
  margin-right: 8rem !important;
}

.bswp-mb-32 {
  margin-bottom: 8rem !important;
}

.bswp-ml-32 {
  margin-left: 8rem !important;
}

.bswp-mt-40 {
  margin-top: 10rem !important;
}

.bswp-mr-40 {
  margin-right: 10rem !important;
}

.bswp-mb-40 {
  margin-bottom: 10rem !important;
}

.bswp-ml-40 {
  margin-left: 10rem !important;
}

.bswp-mt-48 {
  margin-top: 12rem !important;
}

.bswp-mr-48 {
  margin-right: 12rem !important;
}

.bswp-mb-48 {
  margin-bottom: 12rem !important;
}

.bswp-ml-48 {
  margin-left: 12rem !important;
}

.bswp-mt-56 {
  margin-top: 14rem !important;
}

.bswp-mr-56 {
  margin-right: 14rem !important;
}

.bswp-mb-56 {
  margin-bottom: 14rem !important;
}

.bswp-ml-56 {
  margin-left: 14rem !important;
}

.bswp-mt-64 {
  margin-top: 16rem !important;
}

.bswp-mr-64 {
  margin-right: 16rem !important;
}

.bswp-mb-64 {
  margin-bottom: 16rem !important;
}

.bswp-ml-64 {
  margin-left: 16rem !important;
}

.bswp-mt-auto {
  margin-top: auto !important;
}

.bswp-mr-auto {
  margin-right: auto !important;
}

.bswp-mb-auto {
  margin-bottom: auto !important;
}

.bswp-ml-auto {
  margin-left: auto !important;
}

.bswp-mt-px {
  margin-top: 1px !important;
}

.bswp-mr-px {
  margin-right: 1px !important;
}

.bswp-mb-px {
  margin-bottom: 1px !important;
}

.bswp-ml-px {
  margin-left: 1px !important;
}

.bswp-p-0 {
  padding: 0 !important;
}

.bswp-p-1 {
  padding: .25rem !important;
}

.bswp-p-2 {
  padding: .5rem !important;
}

.bswp-p-3 {
  padding: .75rem !important;
}

.bswp-p-4 {
  padding: 1rem !important;
}

.bswp-p-5 {
  padding: 1.25rem !important;
}

.bswp-p-6 {
  padding: 1.5rem !important;
}

.bswp-p-8 {
  padding: 2rem !important;
}

.bswp-p-10 {
  padding: 2.5rem !important;
}

.bswp-p-12 {
  padding: 3rem !important;
}

.bswp-p-14 {
  padding: 3.5rem !important;
}

.bswp-p-16 {
  padding: 4rem !important;
}

.bswp-p-20 {
  padding: 5rem !important;
}

.bswp-p-24 {
  padding: 6rem !important;
}

.bswp-p-32 {
  padding: 8rem !important;
}

.bswp-p-40 {
  padding: 10rem !important;
}

.bswp-p-48 {
  padding: 12rem !important;
}

.bswp-p-56 {
  padding: 14rem !important;
}

.bswp-p-64 {
  padding: 16rem !important;
}

.bswp-p-px {
  padding: 1px !important;
}

.bswp-py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.bswp-px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.bswp-py-1 {
  padding-top: .25rem !important;
  padding-bottom: .25rem !important;
}

.bswp-px-1 {
  padding-left: .25rem !important;
  padding-right: .25rem !important;
}

.bswp-py-2 {
  padding-top: .5rem !important;
  padding-bottom: .5rem !important;
}

.bswp-px-2 {
  padding-left: .5rem !important;
  padding-right: .5rem !important;
}

.bswp-py-3 {
  padding-top: .75rem !important;
  padding-bottom: .75rem !important;
}

.bswp-px-3 {
  padding-left: .75rem !important;
  padding-right: .75rem !important;
}

.bswp-py-4 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.bswp-px-4 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.bswp-py-5 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
}

.bswp-px-5 {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}

.bswp-py-6 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.bswp-px-6 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.bswp-py-8 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.bswp-px-8 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.bswp-py-10 {
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important;
}

.bswp-px-10 {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}

.bswp-py-12 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.bswp-px-12 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.bswp-py-14 {
  padding-top: 3.5rem !important;
  padding-bottom: 3.5rem !important;
}

.bswp-px-14 {
  padding-left: 3.5rem !important;
  padding-right: 3.5rem !important;
}

.bswp-py-16 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.bswp-px-16 {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

.bswp-py-20 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.bswp-px-20 {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

.bswp-py-24 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

.bswp-px-24 {
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}

.bswp-py-32 {
  padding-top: 8rem !important;
  padding-bottom: 8rem !important;
}

.bswp-px-32 {
  padding-left: 8rem !important;
  padding-right: 8rem !important;
}

.bswp-py-40 {
  padding-top: 10rem !important;
  padding-bottom: 10rem !important;
}

.bswp-px-40 {
  padding-left: 10rem !important;
  padding-right: 10rem !important;
}

.bswp-py-48 {
  padding-top: 12rem !important;
  padding-bottom: 12rem !important;
}

.bswp-px-48 {
  padding-left: 12rem !important;
  padding-right: 12rem !important;
}

.bswp-py-56 {
  padding-top: 14rem !important;
  padding-bottom: 14rem !important;
}

.bswp-px-56 {
  padding-left: 14rem !important;
  padding-right: 14rem !important;
}

.bswp-py-64 {
  padding-top: 16rem !important;
  padding-bottom: 16rem !important;
}

.bswp-px-64 {
  padding-left: 16rem !important;
  padding-right: 16rem !important;
}

.bswp-py-px {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}

.bswp-px-px {
  padding-left: 1px !important;
  padding-right: 1px !important;
}

.bswp-pt-0 {
  padding-top: 0 !important;
}

.bswp-pr-0 {
  padding-right: 0 !important;
}

.bswp-pb-0 {
  padding-bottom: 0 !important;
}

.bswp-pl-0 {
  padding-left: 0 !important;
}

.bswp-pt-1 {
  padding-top: .25rem !important;
}

.bswp-pr-1 {
  padding-right: .25rem !important;
}

.bswp-pb-1 {
  padding-bottom: .25rem !important;
}

.bswp-pl-1 {
  padding-left: .25rem !important;
}

.bswp-pt-2 {
  padding-top: .5rem !important;
}

.bswp-pr-2 {
  padding-right: .5rem !important;
}

.bswp-pb-2 {
  padding-bottom: .5rem !important;
}

.bswp-pl-2 {
  padding-left: .5rem !important;
}

.bswp-pt-3 {
  padding-top: .75rem !important;
}

.bswp-pr-3 {
  padding-right: .75rem !important;
}

.bswp-pb-3 {
  padding-bottom: .75rem !important;
}

.bswp-pl-3 {
  padding-left: .75rem !important;
}

.bswp-pt-4 {
  padding-top: 1rem !important;
}

.bswp-pr-4 {
  padding-right: 1rem !important;
}

.bswp-pb-4 {
  padding-bottom: 1rem !important;
}

.bswp-pl-4 {
  padding-left: 1rem !important;
}

.bswp-pt-5 {
  padding-top: 1.25rem !important;
}

.bswp-pr-5 {
  padding-right: 1.25rem !important;
}

.bswp-pb-5 {
  padding-bottom: 1.25rem !important;
}

.bswp-pl-5 {
  padding-left: 1.25rem !important;
}

.bswp-pt-6 {
  padding-top: 1.5rem !important;
}

.bswp-pr-6 {
  padding-right: 1.5rem !important;
}

.bswp-pb-6 {
  padding-bottom: 1.5rem !important;
}

.bswp-pl-6 {
  padding-left: 1.5rem !important;
}

.bswp-pt-8 {
  padding-top: 2rem !important;
}

.bswp-pr-8 {
  padding-right: 2rem !important;
}

.bswp-pb-8 {
  padding-bottom: 2rem !important;
}

.bswp-pl-8 {
  padding-left: 2rem !important;
}

.bswp-pt-10 {
  padding-top: 2.5rem !important;
}

.bswp-pr-10 {
  padding-right: 2.5rem !important;
}

.bswp-pb-10 {
  padding-bottom: 2.5rem !important;
}

.bswp-pl-10 {
  padding-left: 2.5rem !important;
}

.bswp-pt-12 {
  padding-top: 3rem !important;
}

.bswp-pr-12 {
  padding-right: 3rem !important;
}

.bswp-pb-12 {
  padding-bottom: 3rem !important;
}

.bswp-pl-12 {
  padding-left: 3rem !important;
}

.bswp-pt-14 {
  padding-top: 3.5rem !important;
}

.bswp-pr-14 {
  padding-right: 3.5rem !important;
}

.bswp-pb-14 {
  padding-bottom: 3.5rem !important;
}

.bswp-pl-14 {
  padding-left: 3.5rem !important;
}

.bswp-pt-16 {
  padding-top: 4rem !important;
}

.bswp-pr-16 {
  padding-right: 4rem !important;
}

.bswp-pb-16 {
  padding-bottom: 4rem !important;
}

.bswp-pl-16 {
  padding-left: 4rem !important;
}

.bswp-pt-20 {
  padding-top: 5rem !important;
}

.bswp-pr-20 {
  padding-right: 5rem !important;
}

.bswp-pb-20 {
  padding-bottom: 5rem !important;
}

.bswp-pl-20 {
  padding-left: 5rem !important;
}

.bswp-pt-24 {
  padding-top: 6rem !important;
}

.bswp-pr-24 {
  padding-right: 6rem !important;
}

.bswp-pb-24 {
  padding-bottom: 6rem !important;
}

.bswp-pl-24 {
  padding-left: 6rem !important;
}

.bswp-pt-32 {
  padding-top: 8rem !important;
}

.bswp-pr-32 {
  padding-right: 8rem !important;
}

.bswp-pb-32 {
  padding-bottom: 8rem !important;
}

.bswp-pl-32 {
  padding-left: 8rem !important;
}

.bswp-pt-40 {
  padding-top: 10rem !important;
}

.bswp-pr-40 {
  padding-right: 10rem !important;
}

.bswp-pb-40 {
  padding-bottom: 10rem !important;
}

.bswp-pl-40 {
  padding-left: 10rem !important;
}

.bswp-pt-48 {
  padding-top: 12rem !important;
}

.bswp-pr-48 {
  padding-right: 12rem !important;
}

.bswp-pb-48 {
  padding-bottom: 12rem !important;
}

.bswp-pl-48 {
  padding-left: 12rem !important;
}

.bswp-pt-56 {
  padding-top: 14rem !important;
}

.bswp-pr-56 {
  padding-right: 14rem !important;
}

.bswp-pb-56 {
  padding-bottom: 14rem !important;
}

.bswp-pl-56 {
  padding-left: 14rem !important;
}

.bswp-pt-64 {
  padding-top: 16rem !important;
}

.bswp-pr-64 {
  padding-right: 16rem !important;
}

.bswp-pb-64 {
  padding-bottom: 16rem !important;
}

.bswp-pl-64 {
  padding-left: 16rem !important;
}

.bswp-pt-px {
  padding-top: 1px !important;
}

.bswp-pr-px {
  padding-right: 1px !important;
}

.bswp-pb-px {
  padding-bottom: 1px !important;
}

.bswp-pl-px {
  padding-left: 1px !important;
}